.large_loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid rgb(109, 188, 109);; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.small_loader {
  border: 2px solid #e3e3e3; /* Light grey */
  border-top: 2px solid rgb(255,255,255); /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}